<!DOCTYPE html>
<html>
  <head>
  <style>
#nyc {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#nyc td, #nyc th {
  border: 1px solid #ddd;
  padding: 8px;
}

#nyc tr:nth-child(even){background-color: #f2f2f2;}

#nyc tr:hover {background-color: #ddd;}

#nyc th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
  </style>
    <!--
     Frank Sinatra

  "The old crooner himself:"
       QB"   .  . ....^FBQQBQBQ
       #^   ..../,, ,/yyBQBDBt`"B
     B"  ._L_yQ&Qy&&QQBQQDlL;S; (Q
    B^   /DQQQBQQQQQQBQBDQQD1:   "B
   Q~   ,GQBDQDQQQQQQBBQQDQ&EC    7B
   D    lQQQQQBQBQQQQQQQQBBID('    {
   E   .iDDBQQBQQQQBBBQBQQDQ1!:    (
   3   .(BQBBQBBQQQQBBQBBBDBS'     }                     I'm
   Q   '~~<MMBQQBBQBP"""<BD1EL.    Q                   dreaming
   Q    LuL `7QBBB?../LL;.!JDL     Q                    of a
  "  ,  ,__&L.DBBEEL1L_,'EylEE!  ,U                     white
  1 :s&yyQQQ6-DQBBQ&QQQQQQQQJY!  lyB1Q                Christmas.
  S  ?DDQQBD'.QQBDQDBQBQQQDD1<  LIQDG
  Q   j8BQE2 LQQBE9EBBEBQQES{! /BQSE
   Q_ 'TS7L  <#P~^,G1?TXC3({!  3PEy
    Q, ,_>'.,___yBD1DU;,'('''  yQ
     L "Qy,  'IIIZl',L/&;!;:  LQ
     Q; FD(  (`IE2L/QDB&lY!   6Q
      Q, (/. `!?"21iQDU&/~   L FB
       Q_ (EL/&&QDBQBDJ"   ,y^  `FB
        Qy 75EEBBQESf`   _yB^      "M
        Q7  `'^""~`   _yQQM'         `"FQ
        F;         _yQQQQF              Q
  -->
  </head>
  <body>
    <%= yield %>
  </body>

</html>
