<h1>Figure</h1>

<label>Name: </label>
<%= @figure.name %>

<label>Titles</label>


<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/landmarks">Landmarks</a>
